html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(imagens/fotodafesta.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: opacity 0.8s ease;
    overflow: hidden;

    display: none !important; 
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to bottom,
        transparent 47%,
        rgba(255,255,255,0.8) 75%,
        white 100% 
    );
}

.texto {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
}

.texto h1 {
    font-size: clamp(28px, 7vw, 40px); /* nome principal responsivo */
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 20px;
   /* filter: blur(5px); serve pra desfocar algo */
}

.texto p {
    font-size: clamp(14px, 4vw, 18px);
    opacity: 0.6;
}

.site {
    overflow: hidden;
    width: 100%;
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;

    display: block !important; 
    opacity: 1 !important; 
}

.foto2 {
    height: 100vh;
    width: 100%;
    background-image: url("imagens/fotodafesta2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(255,255,255,0.7) 75%,
        white 100%
    );
}

.conteudo {
    padding: 40px 20px; /* espaço interno */
    text-align: center; /* centraliza */
    background-color: #fff; /* fundo branco */
    position: relative;
    overflow: hidden;
    
}

.versiculo {
    position: relative;
    z-index: 2;
    font-size: clamp(18px, 4.5vw, 22px); /* tamanho ideal pra leitura */
    color: #666;/* cor mais legível */
    max-width: 340px; /* limita largura */
    margin: 0 auto 30px; /* centraliza + espaço embaixo */
    line-height: 1.7; /* melhora leitura */
    font-family: "Playfair", serif;
    font-style: italic;

    opacity: 0; /* começa invisível */
    transform: translateY(20px); /* começa levemente abaixo */
    transition: all 0.8s ease; /* animação suave */
}

.versiculo.ativo {
    opacity: 1;
    transform: translateY(0);
}

.bencao {
    margin-top: 10px;
}

.frase-bencao {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(16px, 3.5vw, 16px);
    color: #666;
    margin-bottom: 10px;
}

.pais {
    font-family: "Playfair", serif;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto 30px;
    font-size: clamp(14px, 3.5vw, 15px);
    color: #666;
}

.lado {
    width: 45%;
}

.nomes-noivos {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(65px, 12vw, 70px);
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 10px;
    
}

.decoracao-flores {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: -10px;
}

.flor-esquerda {
    position: absolute;
    left: -20px;
    bottom: -10px;
    width: clamp(80px, 20vw, 150px);
    opacity: 0.8; /* leve transparência */
    transform: scaleX(-1); /* Opcional: espelha a imagem para dar simetria */
    z-index: 1;
}

.flor-direita {
    position: absolute;
    right: -20px;    /* Cola no canto direito */
    bottom: -10px;
    width: clamp(80px, 20vw, 150px); /* Tamanho responsivo */
    opacity: 0.8;
    z-index: 1;
}

.flor-centro {
    position: relative;
    width: 40px;
    height: auto;
    opacity: 0.6;
    margin: 0 auto;
    z-index: 2;
    transform: translateY(25px);
}

.chamada-casamento {
    width: 100%;
    padding: 20px; /* Espaço nas laterais para não encostar na borda da tela */
    display: flex;
    justify-content: center;
    margin-top: -15px; /* Espaço em relação aos nomes acima */
    
}

.retangulo {
    background-color: #cfce9e;
    width: 100%;
    max-width: 500px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.retangulo p {
    color: #ffffff;
    font-family: "Playfair", serif;
    font-style: italic;
    font-size: clamp(16px, 4vw, 20px);
    margin: 0;
    letter-spacing: 1px;
}

.frase-data {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;

}

.frase-data p {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(20px, 5vw, 24px);
    color: #666;
    margin: 0;
}

.fotodois {
    width: 100%;
    max-width: 400px; /* Tamanho da foto no site */
    margin: 50px auto;
    position: relative; /* Para a overlay não fugir daqui */
    overflow: hidden;
}

.fotomeio {
    width: 100%;
    display: block;
}

.overlay-meio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* ABAIXO: O degradê que faz a fumaça em cima e embaixo */
    background: linear-gradient(
        to bottom,
        white 0%,            /* Começa branco no topo */
        transparent 20%,     /* Limpa para aparecer a foto */
        transparent 85%,     /* Mantém a foto aparecendo */
        white 100%           /* Termina branco embaixo */
    );
}